@media (max-width: 1200px) {
  .hero-image .phone{
      
    max-width: 600px;
      
    

      }


}

@media (max-width: 1000px) {

  .hero .container{
      width: 100%;
  }

      .hero-image{
          height: 100%;
          max-width: 100%;
          position: relative;
          z-index: 1;

          }

          .hero {
              height: 100vh;
              min-height: auto;
              max-height:max-content;

              
            }
          
            .hero-main h1{
             font-size: 60px;

          
            }




}

@media (max-width: 768px) {

  .hero .container{
      width: 100%;
  }

      .hero-image{
          height: 100%;
          max-width: 100%;
          position: relative;
          z-index: 1;

          }

          .hero {
              height: 100vh;
              min-height: auto;
              max-height:max-content;

              
            }
          
            .hero-main h1{
             font-size: 40px;
          
            }

            .hero{
              padding: 40px 0px 0px 0px;
            }
            .arrow{
              display: none;
            }

            .hero-main{
              display: grid;
              grid-template-columns: repeat(1,minmax(0,1fr));
              height: 100%;
              overflow: hidden;
            }

            .card, .total, .spotify{
              display: none;
            }

            .hero-image .phone{
              width: 100%;
              max-width: 100%;
              transform: translateY(100px);
              
              
}

}