.hero {
  color: white;
  background-color: var(--tp-common-blue-2);
  height: 100vh;
  min-height: 850px;
  max-height:950px;
  width: 100%;
  background-image: url('/public/images/hero-bg.png'); 
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-left: 60px;
  overflow: hidden;
  
}

.hero-content{
  position: relative;
  overflow: hidden;
 
}

.hero-main{
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  height: 100%;
  overflow: hidden;
}


.hero-content span{
  font-family: "Montserrat Alternates", system-ui;
  margin: 0;
  padding: 0;
  line-height: 1;
  letter-spacing: -0.04em;
 
}
.hero-content h1{
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.hero-button{
  color: var(--tp-common-white);
    font-family: var(--tp-ff-mont);
    height: 52px;
    line-height: 52px;
    padding: 0 30px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.02em;
    position: relative;
    overflow: hidden;
    display: inline-block;
    z-index: 1;
    transition: 0.5s;
    background: linear-gradient(180deg, var(--tp-common-gra-1) -23%, var(--tp-common-gra-2) 100%);
    box-shadow: 0px 2px 3px rgba(3, 22, 3, 0.2);
    border-radius: 10px;
}

.hero-content h6 {
padding-top: 100px;
color: rgba(255, 255, 255, 0.6);
font-size: 14px;
display: flex;
gap: 10px;
}

.underline-item{
  position: relative;
  font-size: 18px;
  color: white;
 padding: 80px;
 
}
.curved-line{
  position: absolute;
  bottom: -18px;
  left: -3px;
  
}
.hero-image{
height: 100%;
max-width: 600px;
position: relative;
z-index: 1;

 
}


.hero-image .phone{
  object-fit: contain;
  object-position: bottom;
max-width: 770px;
  height: 100%;

  

   
  }

  .card, .spotify, .total {
    position: absolute;
    object-fit: contain;
    object-position: bottom;
    overflow: hidden;
    
    border-radius: 20px;
    height: auto;
  }

  
  .card{
    z-index: 4;
  left: 35%;
  top: 25%;
  backdrop-filter: blur(12px);
  }

  .spotify{
    z-index: 4;
  left: 29%;
  top: 47%;
  height: 124px;
  width: 329px;
  object-fit: cover;
  }

  .total{
    z-index: -1;
  left: -15%;
  backdrop-filter: blur(12px);
  bottom: 20%;

  }

  .arrow{
    top: 50%;
    left: 50%;
    position: absolute;
}